<br />
<div class="ui one column stackable very relaxed center aligned grid">
 <div class="stretched row">

    <div class="ten wide column">
      <div class="ui segment">
        <% if !@curremnt_user %>
          <%= render 'sessions/login_form' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
<br />


